/*Stephen Abraham*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'calibri', sans-serif;
}
main {
  background-size: cover;
}
section#about_container {
  height: 100vh;
  background-size: cover;

}
.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  margin-top: 9px;
  padding: 0px;
  height: 41px;
  width: 42px;
}
header {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #3a3a3a;
  border-bottom: 1px solid #c3c3c3;
  }
header nav {
  float: right;
  margin-top: 18px;

}
header ul {
  list-style-type: none;
  float: left;
}
header nav a {

  font-size: 18px;
  font-family: calibri;
  text-decoration: none;
  letter-spacing: 1px;
/*Hover Effect CSS Transition For Nav Text Color*/
  color: #ffffff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
header nav a:hover {
  color: #26796e;
}
header nav li {
  float: left;
  margin-left: 30px;
}
header:after {
  display: block;
  content: "";
  clear:both;
}
#contact-container {
  width: 300px;
  height: auto;

}
form {
width: 800px;
height: auto;
border-radius: 2px;
margin: 0 auto;
margin-left: 100px;
}
fieldset {
  background: #lightblue;
  border: none;
  padding-bottom: 40px;
}
h1 {
  text-align: center;
  font-size: 25px;
  font-family: calibri;
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
}
label {
  width: 500px;
  display: block;
  font-family: calibri;
  font-size: 18px;
  color: #000;
  margin: 5px 0px 5px 0px;
  margin-left: 40px;
  text-transform: uppercase;
}
input {
  width: 720px;
  margin-bottom: 10px;
  margin-left: 40px;
  padding: 20px;
  border-radius: 5px;
}
textarea {
width: 720px;
margin-bottom: 10px;
margin-left: 40px;
padding: 20px;
border-radius: 5px;
font-size: 16px;
font-family: calibri;
}
.button {
width: 301px;
margin-bottom: 10px;
margin-left: 40px;
padding: 20px;
border-radius: 5px;
font-size: 18px;
text-transform: uppercase;
background: #15bf98;
font-weight: bold;
}
section#contact-content {
  height: 800px;
  background: #d7a737;
  margin-top: 50px;
}
.title-heading {
  text-transform: uppercase;
  padding-top: 80px;
  text-align: center;
  font-size: 2rem;
  color: #1e1e1e;
  padding-bottom: 10px;
}
.contact-container {
  height: 500px;
}
  footer {
  height: 60px;
  background: #1e1e1e;
}
  footer {
  height: 60px;
  background: #1e1e1e;
}
  footer h2 {
  text-transform: uppercase;
  display: block;
  float: left;
  margin-top: 14px;
  color: #a7a7a7;
}
  footer img {
  float: left;
  margin-top: 9px;
  padding: 0px;
  height: 41px;
  width: 42px;
}
  footer nav {
  float: right;
  margin-top: 18px;
}
  footer ul {
  list-style-type: none;
  float: left;
}
  footer nav a {
  font-size: 18px;
  font-family: calibri;
  text-decoration: none;
  letter-spacing: 1px;
  /*Hover Effect CSS Transition For Nav Text Color*/
  color: #ffffff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
  footer#main-footer .footer-copyright {
  float: left;
  margin-top: 18px;
}
  footer#main-footer .footer-copyright a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #a7a7a7;
}
  footer nav a:hover {
  color: #26796e;
}
  footer nav li {
  float: left;
  margin-left: 30px;
}
  footer nav li span {
  font-size: 18px;
  font-family: calibri;
  text-decoration: none;
  letter-spacing: 1px;
  color: #5f5f5f;
}
  footer:before {
  display: block;
  content: "";
  clear:both;
}
@media screen and (max-width:960px){

.title-heading {
  text-transform: uppercase;
  padding-top: 50px;
  text-align: center;
  font-size: 2rem;
  color: #1e1e1e;
}

@media screen and (max-width: 768px){

  header img {
   margin-left: 70px;
  }
  nav {
    margin-right: 30px;
  }

  header nav a {
    margin-right: 60px
  }

footer h2 {
   margin-left: 40px
 }
}
@media screen and (max-width: 717px){

  footer nav ul li span {
    display: none;
  }

}
@media screen and (max-width: 642px){
  .title-heading {
  text-transform: uppercase;
  padding-top: 50px;
  text-align: center;
  font-size: 2rem;
  color: #1e1e1e;
}

section#pre-contact{
  display: none;
  height: 0px;
  background: #d7a737;
  padding: 0px;
  overflow: hidden;
  transition: .5s;
}
section#pre-contact:hover{
  background: #ff8d00;
}
section#pre-contact:after{
  display: block;
  content: "";
  clear: both;
}

  header img {

margin-left: 70px;

}
  nav {
    margin-right: 30px;
  }
  header nav a {
    margin-right: 40px
  }

footer nav li  {
   margin-left: 10px
   }
}
@media screen and (min-width: 507px) {

  footer h2 {

    margin: 0 auto;
  }

  footer nav li  {
     margin-left: 20px
     }
  footer nav span li  {
        margin-left: 20px;
        display: none;
        }

}
@media screen and (max-width: 605) {

  footer h2 {

    margin
  }

  footer nav li  {
     margin-left: 20px
     }
  footer nav span li  {
        margin-left: 20px;
        display: none;
        }

}

@media screen and (max-width: 523px){

  header img {

margin-left: 10px;

}

  nav {
    margin-right: 5px;
  }



  header nav a {
          margin-right: 20px;
    }



@media screen and (max-width: 435px){

  header img {

margin-left: 20px;

}

  nav {
    margin-right: 5px;
  }

    header nav a {
    margin-right: 10px
  }


}
footer h2 {
  margin-left: 150px;
}

footer nav li  {
   display: none;
   }
}
